:root {
    --branco-principal: #FFFFFF;
    --cinza-segundario: #C0C0C0;
    --botao-aul: #0B36CD;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3d5ccc;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    /* background-image: url(./assets/rey.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; */
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-aul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__aviso {
    font-size: 0,75rem;
    color: var(--cinza-segundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 43,75rem;
}

.container__imagem {
    margin: 1em 0 1em 0;
    height: 4,6rem; 
}

.container__caixa {
    margin: 0 6em;
}

.secundario_imagem_1 {
    width: 90%;
}

.secundario_imagem {
    width: 90%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--branco-principal);
}

.container__botao_terceiro {
    background-color: var(--botao-aul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 7em 3em 1em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link {
    padding: 1em;
    text-decoration: none;
    list-style-type: none;
    color: var(--branco-principal);
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1rem;
}

.lista__link a:hover {
    transition: 200ms;
    color: var(--cinza-segundario);
}

.lista__link a:active {
    color: var(--botao-aul);
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-segundario);
    font-size: 0,8rem;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.container__botao_secundario:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.container__botao_terceiro:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.secundario__imagem {
    width: 95%;
}
